@font-face {
	font-family: 'Comic Neue';
	src: url("res/fonts/ComicNeue-Regular.ttf");
}

header
{
	outline: 2px outset;
	background-color: #a0a0a0;
	color: black;
	height: 23px;
	text-align: left;
}

header a
{
	color: black;
	transition: color 0s;
}

header a:hover, header a:active
{
	background-color: #00007F;
	color: white;
}

body
{
	color: white;
	background-color: #00007F;
	background-image: url("res/bgs/1stboot.png");
	text-align: center;
	font-family: 'Comic Neue', sans-serif;
}

h1
{
	font-size: 40pt;
	font-weight: normal;
}

h2
{
	font-size: 24pt;
	font-weight: normal;
}

h3
{
	font-size: 18pt;
	font-weight: normal;
}

h4
{
	font-size: 14pt;
	font-weight: normal;
}

p
{
	font-size: 12pt;
	font-weight: normal;
}

a
{
	font-size: 12pt;
	font-weight: normal;
	color: white;
	transition: color 0.25s;
}

a:hover
{
	color: #FF00FF;
	
}

a:active
{
	color: #7F007F;
}