body
{
    color:white;
    background-color: rgb(31, 31, 31);
    text-align: center;
}

h1
{
    font-size: 40pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

h2
{
    font-size: 24pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

h3
{
    font-size: 16pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

h4
{
    font-size: 14pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

p
{
    font-size: 12pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

a
{
    font-size: 12pt;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color:white;
}

a:hover
{
    color:#007FFF;
}

a:active
{
    color:red;
}

button
{
    border-radius: 2.5pt;
}

button:hover
{
    border-color: orange;
}

button:active
{
    border-color:gray
}